<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo Docente</title>
</head>
<body>

    <div id="box-1">
        <div class="logo">
            <img src="/static/img/logoiccp.png" alt="">
        </div>

        <div id="barraNavegacion">
            <ul class="nav-lista">
                <li><a href="/templates/inicio.html"></a>Inicio</li>
                <li><a href="/templates/sesion.html"></a>Sesion</li>
                <li><a href="/templates/alumnos.html"></a>Alumnos</li>
            </ul>
        </div>

    </div>

</body>
</html>