<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMPROVED COMMUNICATION</title>
    <link rel="stylesheet" href="/static/css/inicio.css">
</head>

<body>
    <!--
    <div id="box-1">
        <div class="logo">
            <img src="/static/img/logoiccp.png" alt="">
        </div>

        <div class="titulo">
            <h1>IMPROVED COMMUNICATION</h1>
        </div>

        <div class="logo-sesion">
           <a href="/templates/sesion.html"><img src="/static/img/image.png" alt="sesion"></a> 
        </div>
    </div>
-->

    <div id="box-1">

        <div class="logo">
            <img src="/static/img/logoiccp.png" alt="">
        </div>
        
        <div id="barraNavegacion">
            <ul class="nav-lista">
                <div class="lista">
                    <li><a href="/templates/inicio.html"></a>Profesores</li>
                </div>
                <div class="lista">
                    <li><a href="/templates/inicio.html"></a>Alumnos</li>
                </div>
                <div class="lista">
                    <li><a href="/templates/inicio.html"></a>Perfil</li>
                </div>
                <div class="lista">
                    <li><a href="/templates/inicio.html"></a>Iniciar sesion</li>
                </div>
            </ul>
        </div>

    </div>

    <br>
<hr>
    <br>

    <div id="agenda-hora">
        <div class="agenda">
            
            <h1 class="titulo-agenda">Agendar hora aquí</h1>

            <div class="from-estruc">
                <form class="form-1">

                <div class="sub-titulo">
                    <h4>Profesores ICCP</h4>
                </div>
    
                    <select class="selec">
                        <option disabled selected="">Seleccionar un Profesor</option>
    
                        <optgroup label="Técnico en Programación">
                            <option>Fabian Rigotti</option>
                            <option>Lorena Castro</option>
                        </optgroup>
    
                        <optgroup label="Departamento de Lenguaje">
                            <option>Andrés Cayuleo</option>
                            <option>Gonzalo Estivales</option>
                            <option>Fernanda Ponce</option>
                            <option>Claudia Escobar</option>
                        </optgroup>
    
                        <optgroup label="Departamento de Matemática">
                            <option>Carolina Palma</option>
                            <option>Marcelo Carrasco</option>
                            <option>Yonelky Osorio</option>
                            <option>Yerko Ortiz</option>
                        </optgroup>
    
                        <optgroup label="Departamento de Historia">
                            <option>Karina Soto</option>
                            <option>Daniela Mora</option>
                            <option>Daniela Villalobos</option>
                        </optgroup>
    
                        <optgroup label="Departamento de Inglés">
                            <option>Nicolás Rivera</option>
                            <option>Felipe Muñoz Silva</option>
                            <option>Tiare Muñoz</option>
                        </optgroup>
    
                        <optgroup label="Departamento de Ciencias">
                            <option>Katalina Venegas</option>
                            <option>Nicole Román</option>
                            <option>Cristian Suito</option>
                        </optgroup>
    
                        <optgroup label="Departamento de Ed. Física">
                            <option>Elizabeth Rivera</option>
                            <option>Rafael Mella</option>
                        </optgroup>
    
                        <optgroup label="Departamento de Artes">
                            <option>Yasna Rodríguez</option>
                            <option>Julio César Gallardo</option>
                        </optgroup>
    
                        <optgroup label="Departamento de Tecnología">
                            <option>María José Neira</option>
                            <option>María Teresa Saldivia</option>
                        </optgroup>
    
                        <optgroup label="Departamento de Filosofía">
                            <option>Felipe Valenzuela</option>
                        </optgroup>
    
                        <optgroup label="Departamento de Religión">
                            <option>Miguel Ángel Cuevas</option>
                        </optgroup>
    
                        <optgroup label="Técnico en Atención de Párvulos">
                            <option>Pamela Rodríguez</option>
                            <option>Elba Miranda</option>
                            <option>Florencia Núñez</option>
                        </optgroup>
    
                    </select>
    
                </form>

            </div>
            
            <div class="from-estruc">

                <form class="form-1">

                    <div class="sub-titulo">
                        <h4>Dias para Agendar</h4>
                    </div>

                    <select class="selec">

                        <option disabled selected="">Seleccionar día y hora</option>

                        <optgroup label="Horario de atención:">
                            <option>Lunes de 08:30</option>
                            <option>Martes de 09:30</option>
                            <option>Miercoles de 10:30</option>
                            <option>Jueves de 10:00</option>
                            <option>Viernes de 09:00</option>
                        </optgroup>

                    </select>

                </form>
                
            </div>
            
            <div id="btn-from">
                <button>Aceptar</button>
            </div>

        </div>

        <div class="agenda-1">
            <video class="video1" controls autoplay muted>
                <source src="/static/img/Elecciones CCEE.mp4" type="video/mp4">
                <source src="/static/img/Elecciones CCEE.mp4" type="video/ogg">
            </video>
        </div>

    </div>

    <div class="slider-box">
        <ul>
            <li>
                <img src="/static/img/PXL_20240305_130210752-1024x576.webp" alt="">
            </li>
            <li>
                <img src="/static/img/PXL_20240305_130540009-scaled.webp" alt="">
            </li>
            <li>
                <img src="/static/img/PXL_20240305_125852557.ACTION_PAN-01.COVER_-1024x576.webp" alt="">
            </li>
        </ul>
    </div>
    <br>
    <div id="box-end">
        <div class="contacto">
            <h3>Contacto</h3>
            <p>+569 3049 5573</p>
        </div>

        <div class="horarios">
            <h3>Horarios</h3>
            <p>11:30 am hasta las 8:30 pm </p>
        </div>

        <div class="direccion">
            <h3>Direccion</h3>
            <p>Av. Brasil 7965, Renca, Región Metropolitana</p>
        </div>
    </div>

</body>

</html>